
/* --------------------body部分-------------------- */

body{
  margin:0px;
  width: 100%;
  height: 100%;
}

/* --------------------header部分-------------------- */

header{
  width: 95vw;
  height: 60px;
  padding: 0px 40px 0px 40px;
  margin: 0%;
  border-bottom: 1px solid rgb(191, 194, 195);
  display: flex;
  /*アイテムを上下中央揃えで配置*/
  align-items: center;
  /*改行なしで横並び*/
  flex-wrap:wrap;
  font-size: 16px;
  position: fixed;
    z-index: 1;
    background-color: #ffffff;
    top: 0px;
}
/* ヘッダーロゴ サイズ位置*/
.header-logo img{
  width: 146px;
  height: 25px;
  margin-top: 13px;
}
/* ヘッダーメニュー位置 */
.header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  }
  /* メニューリンクサイズ位置 */
.header-list a{
  margin-left: 30px;
  color: black;
  /*ラインをなくす*/
  text-decoration: none; 
  font-weight: 550;
}
/* よくある質問画像サイズ位置 */
.question img{
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
/* よくある質問位置 */
.question a{
  margin: 0%;
}
/* ログインリンク色 */
.header-login a{
  color:#46d163;
}
/* ログイン矢印 */
.Arrow{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0px 9px;
  border-top: 2px solid #46d163;
  border-right: 2px solid #46D163;
  transform: rotate(45deg);
    
  }
/* まずは体験位置 */
.trial{
  margin-left: 30px;
}
/* まずは体験ボタン */
.trial button {
  color: #fff;
  background: #46d163;
   border-radius: 100vh;
   border: 0;
   font-weight: 600;
   height: 40px;
   width: 160px;
   font-size: 16px;
}
/* 無料で始める位置 */
.start{
  margin-left: 20px;
}
/* 無料で始めるボタン */
.start button {
  color: rgb(0, 0, 0);
  background: #ffffff;
   border-radius: 100vh;
   border-color: black;
   font-weight: 700;
   height: 40px;
   width: 160px;
   font-size: 16px;
}

/*--------------------main部分--------------------*/

/* --------------------①section部分-------------------- */

/* タイトル文字 */
.heading h1{
  width: 100%;
  text-align: center;
  color: #46d163;
  font-size: 24px;
  margin-top:30px;
  letter-spacing: 0.1em; 
  padding-top: 8vw;
}
/* タイトル画像&文字 */
.headingImg{
  text-align: center;
}
/* -------------------- ポイント1全体 --------------------*/
.box1{
  background-color: rgb(249, 249, 249);
    width: 580px;
    height: 652px;
    padding: 40px;
    margin:20px 40px 20px 40px;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.point-box1{
  width: 435px;
  height: 652px;
  margin: auto;
}
/* ポイントイメージ画像 */
.point1{
  width: 435px;
  height: 533px;
}
/* ポイントボタン枠 */
.btn{
  background-color: black;
  border: 2px solid black;
  border-radius: 30px;
  width: 90px;
  height: 30px;

}
/* ポイントボタンテキスト */
.point-btn1{
  color: white;
  font-size: 7px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.3em;
}
/* ポイント内容 */
.point-text1{
  font-weight: 700;
}
/* -------------------- ポイント2全体 -------------------- */
.box2{
  background-color: rgb(249, 249, 249);
    width: 580px;
    height: 652px;
    padding: 40px;
    margin:20px 0px 20px 0px;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.point-box2{
  width: 435px;
  height: 652px;
  margin: auto;
}
/* ポイントイメージ画像 */
.point2{
  width: 435px;
  height: 533px;
}
/* ポイントボタン枠 */
.btn2{
  background-color: black;
  border: 2px solid black;
  border-radius: 30px;
  width: 90px;
  height: 30px;
}
/* ポイントボタンテキスト */
.point-btn2{
  color: white;
  font-size: 7px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.3em;
}
/* ポイント内容 */
.point-text2{
  font-weight: 700;
}
/* -------------------- ポイント3全体 -------------------- */
.box3{
  background-color: rgb(249, 249, 249);
    width: 580px;
    height: 652px;
    padding: 40px;
    margin:20px 0px 20px 50px;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.point-box3{
  width: 435px;
  height: 652px;
  margin: auto;
}
/* ポイントイメージ画像 */
.point3{
  width: 435px;
  height: 533px;
}
/* ポイントボタン枠 */
.btn3{
  background-color: black;
  border: 2px solid black;
  border-radius: 30px;
  width: 90px;
  height: 30px;
}
/* ポイントボタンテキスト */
.point-btn3{
  color: white;
  font-size: 7px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.3em;
}
/* ポイント内容 */
.point-text3{
  font-weight: 700;
}

.heading-end{
    margin-top: 5vw;
    font-size: 1.8vw;
    font-weight: 550;
    line-height: 1.8em;
    text-align: center;
}
p{
  margin: 0.3vw 0px 0.3vw 0px
}
.green{
  color: #46D163;
}
.btnbox{
  height: 4vw;
  margin-top:35px;
  display: flex;
  justify-content: center;
}
.trial-btn2 {
  color: #fff;
    background: #46d163;
    border-radius: 100vh;
    border: 0;
    font-weight: 555;
    height: 4vw;
    width: 18vw;
    font-size: 16px;
    align-items: center;
    margin-top: 1.5vw;
}
.google1{
  width: 16vw;
  height: 6vw;
  margin-top: 6px;
}
.google2{
  width: 16vw;
  height: 6vw;
}
/* 公開中のルーム */
.room{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.room1{
  background-color: rgb(248, 248, 248);
  height: 44vw;
  width: 88vw;
  border-radius: 88vw 88vw 0 0;
    margin-top: 15vw;
}
.room2{
  margin-top: 4vw;
  font-size: 3vw;
  font-weight: 900;
}
.room-explanation{
  margin-top: 0.5vw;
    font-size: 1.1vw;
    font-weight: 600;
}

.a{
  display: flex;
  justify-content: space-around;
  margin-top: 6vw;
}.roombox1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 22vw;
  width: 26vw;
  border: solid 3px #ffffff;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 5px 4px 5px rgb(0 0 0 / 10%);
}
.roomboximg1{
  width: 10vw;
    height: 20vw;
    position: relative;
    bottom: 4vw;
}
.roomcoment1{
  font-size: 22px;
  font-weight: 600;
  width: auto;
  
}
.roombtn1{
  font-size: 14px;
  border:solid rgb(134, 134, 134) 1px ;
  border-radius: 10px;
  width: 8vw;
  justify-content: center;
  text-align: center;
}
.roombtn2{
  font-size: 14px;
  border:solid rgb(134, 134, 134) 1px ;
  border-radius: 10px;
  width: 8vw;
  justify-content: center;
  text-align: center;
}
.roombox1id1{
  display: flex;
    flex-direction: column;
    width: 12vw;
    justify-content: end;
    margin: 0px 0px 4vw 1vw;
    text-align: left;

}
.roombtn3{
  font-size: 14px;
  font-weight: 600;
  border:solid #46d163 3px ;
  background-color: #46d163;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 21vw;
  height: 3vw;
  text-align: center;
  margin-bottom: 0vw;
  position: relative;
  bottom: 3vw;
}
.png1img{
  width: 10px;
}

.roombox2{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 22vw;
    width: 26vw;
    border: solid 3px #ffffff;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 5px 4px 5px rgb(0 0 0 / 10%);
    position: relative;
    top: 3vw;
}
.roomboximg2{
  width: 10vw;
  height: 20vw;
  position: relative;
  bottom: 4vw;
}
.roomcoment2{
  font-size: 22px;
  font-weight: 600;
  width: auto;
}
.roombtn4{
  font-size: 14px;
  border:solid rgb(134, 134, 134) 1px ;
  border-radius: 10px;
  width: 8vw;
  text-align: center;
}
.roombtn5{
  font-size: 14px;
  border:solid rgb(134, 134, 134) 1px ;
  border-radius: 10px;
  width: 8vw;
  text-align: center;
}
.roombox2id2{
  display: flex;
    flex-direction: column;
    width: 11vw;
    justify-content: end;
    margin: 0px 0px 4vw 1vw;
    text-align: left;
}
.roombtn6{
  font-size: 14px;
    font-weight: 600;
    border: solid #46d163 3px;
    background-color: #46d163;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 21vw;
    height: 3vw;
    text-align: center;
    margin-bottom: 0vw;
    position: relative;
    bottom: 3vw;
}
.png2img{
  width: 10px;
}

.roombox3{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    height: 22vw;
    width: 25vw;
    border: solid 3px #ffffff;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 5px 4px 5px rgb(0 0 0 / 10%);
    position: relative;
    top: 0vw;
}
.roomboximg3{
  width: 10vw;
    height: 20vw;
    position: relative;
    bottom: 4vw;
}
.roomcoment3{
  font-size: 22px;
  font-weight: 600;
  width: auto;
}
.roombtn7{
  font-size: 14px;
  border:solid rgb(134, 134, 134) 1px ;
  border-radius: 10px;
  width: 10vw;
  text-align: center;
}
.roombtn8{
  font-size: 14px;
  border:solid rgb(134, 134, 134) 1px ;
  border-radius: 10px;
  width: 10vw;
  text-align: center;
}
.roombox3id3{
  display: flex;
    flex-direction: column;
    width: 12vw;
    justify-content: end;
    margin: 0px 0px 4vw 1vw;
    text-align: left;
}
.roombtn9{
  font-size: 14px;
  font-weight: 600;
  border:solid #46d163 3px ;
  background-color: #46d163;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 21vw;
  height: 3vw;
  text-align: center;
  margin-bottom: 0vw;
  position: relative;
  bottom: 3vw;
}
.png3img{
  width: 10px;
}
.recommendation {
  margin-top:5vw;
font-weight: 900;
font-size: 3vw;
width: 100vw;
text-align: center;
}
.b{
  border: solid #46d163 7px;
  border-radius: 35px;
  width: 75vw;
  height: 17vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin:auto;
 
  
}
.bb1{
  height: 15vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.recommendation1{
  width: 6vw;
  height: 6vw;
}
.b1{
  font-size: 21px;
  font-weight: 600;
  margin-top:1vw;
}
/* section3 */
.greenback{
  align-items: center;
    width: 100vw;
    margin-top: 190px;
    position: relative;
    top: 9px;
}
.c{
  background-color: #46d163;
}
.corom1{
  position: relative;
    top: -2vw;
    margin-left: 10vw;
    width: 80vw;
}
.corom2{
  position: relative;
    width: 6vw;
    top: 3vw;
    left: -91vw;
}
.title1{
  text-align: center;
    font-size: 3vw;
    color: #ffffff;
    font-weight: 900;
    margin-top: -7vw;
}
.c1{
  display: flex;
}
.cc{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vw 5vw 10vw 15vw;
}
.cc1{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.camera{
  width: 15vw;
    height: 15vw;
}
.camera1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.cc2{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.pair{
  width: 15vw;
    height: 15vw;
}
.pair1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.cc3{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.distance{
  width: 15vw;
    height: 15vw;
}
.distance1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.cc4{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.group{
  width: 15vw;
    height: 15vw;
}
.group1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.cc5{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.listen{
  width: 15vw;
    height: 15vw;
    margin-top: 4vw;
}
.listen1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.corom3{
  position: relative;
    width: 8vw;
    height: 15vw;
    top: 0vw;
    left: 0vw;
}
.corom4{
  position: relative;
  width: 6vw;
    top: 3vw;
}
.title2{
  text-align: center;
  font-size: 3vw;
  color: #ffffff;
  font-weight: 900;
  margin-top: -14vw;
}
.d{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    width: 55vw;
    margin: 0vw auto 3vw;
}
.dd1{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.know{
  width: 15vw;
    height: 15vw;
    margin-top: 4vw;
}
.know1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.dd2{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.anytime{
  width: 15vw;
    height: 15vw;
    margin-top: 4vw;
}
.anytime1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.dd3{
  display: flex;
  flex-wrap: wrap;
    width: 15vw;
    height: 20vw
}
.simple{
  width: 15vw;
    height: 15vw;
    margin-top: 4vw;
}
.simple1{
  font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    width: 15vw;
    margin-top: 1vw;
}
.corom5{
  position: relative;
  width: 7vw;
    left: 93vw;
    top: -7vw;
}
.white1{
  position: relative;
    width: 100vw;
    top: -6vw;
}
.white2{
  background-color: #ffffff;
  height: 1650px;
}
.use{
  font-size: 3vw;
  text-align: center;
  font-weight: 900;
  margin-top: -3vw;
}
.useimg{
  width: 20vw;
  margin: 2vw 2vw
}
.uselogo{
  width: 250px;
    position: relative;
    top: 60px;
    left: 0px;
}
.usebox1{
  display: flex;
  justify-content: space-around;
    background-color: rgb(248, 248, 248);
    border-radius: 40px;
    width: 1220px;
    height: 500px;
    margin: -90px auto 10px 130px;
}

.step{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 270px;
  height: 445px;
  margin-top: 37px;
  
}
.q{
  width: 0px;
    height: 355px;
    margin-top: 70px;
    border-bottom: 0px solid #e9e9e9;
    border-left: 0px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-top: 0px solid #e9e9e9;
}


.step1{
  color: #46d163;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
    width: 100px;
    height: 0px;
    margin-top: 45px;
}
.stepimg{
  align-items: center;
    width: 250px;
    height: 250px;
}
.stepcomment{
  font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 300px;
    margin-top: -15px;
}
.png1{
  position: relative;
  top: 8vw;
  width: 8vw;
  left: 92vw;

}
.corom5{
  position: relative;
    top: -110px;
    width: 102px;
}
.new{
  display: flex;
  flex-direction: column;
  width: 300px;
    margin: -40px 0px 0px 225px;
}
.corom6{
width: 60px;
}
.new1{
  font-size: 45px;
    font-weight: 900;
    letter-spacing: 5px;
}
.new2{
  margin: 30px 0px 30px 0px;
}
.twitterbtn{
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27a1f2;
    border-color: #27a1f2;
    border: none;
    border-radius: 50px;
    width: 205px;
    height: 50px;
}
.twitter{
  width:42px ;
}
.twitter1{
  color: white;
  font-weight: 900;
  font-size: 14px;
}
.twitter2{
  text-decoration: none;
}
.timeline{
  position: relative;
    top: -350px;
    left: 575px;
}
.corom7{
  position: relative;
    width: 100px;
    top: -410px;
}
.timeline1{
  position: relative;
  width: 100%;
  top: 7px;
}
.timeline2{
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 3450px;
  padding-top: 35px;
}
.timeline3{
  background-color: #fff;
    border-radius: 40px;
    width: 90%;
    margin: auto;
    padding-top: 70px;
}
.usecoment1{
  font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.tweet{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.tweet1{
  display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px 0px 20px 30px;
}
.tweet2{
  display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px 0px 20px 30px;
}
.tweet3{
  display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px 0px 20px 30px;
}
.more{
  font-size: 53px;
  font-weight: 900;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.morebox{
  display: flex;
  justify-content: center;
}
.more1{
display: flex;
flex-wrap: wrap;
width: 335px;
margin-left: 15px;
justify-content: center;
}
.moreimg1{
  width: 300px;
  border-radius: 30px;
}
.morecomment1{
  font-size: 18px;
}
.more2{
  display: flex;
    flex-wrap: wrap;
    width: 335px;
    margin-left: 15px;
    justify-content: center;
  }
  .moreimg2{
    width: 300px;
    border-radius: 30px;
  }
  .morecomment2{
    font-size: 18px;
  }
  .more3{
    display: flex;
    flex-wrap: wrap;
    width: 335px;
    margin-left: 15px;
    justify-content: center;
    }
    .moreimg3{
      width: 300px;
      border-radius: 30px;
    }
    .morecomment3{
      font-size: 18px;
    }
.orlogo{
  width: 35px;
  position: relative;
  top: 30px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 5px;
  height: 35px;
  background-color: #47d163;
  color: white;
  border: 0px;
  text-align: center;
}
.logoalt{
  width: 120px;
    margin-left: 44px;
    font-size: 12px;
    font-weight: 100;
    color: #929292;
}
.moreurl{
text-decoration: none;
color: black;
font-weight: 900;
}
.friendbox{
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: 470px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 105px;
}
.friend{ 
  font-size: 40px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 20px;
}
.qr{
  width: 170px;
}
.friend1{
  color: #47d163;
  margin-top: 10px;
  margin-bottom: 15px;
}
.friend2{
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.friendtime{
  letter-spacing: 1px;
  width: 390px;
  text-align: center;
  padding-top: 25px;
  border-bottom: 0px solid #e9e9e9;
  border-left: 0px solid #e9e9e9;
  border-right: 0px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}

.footerbox{display: flex;
  height: 155px;
  margin-top: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white}
.corom10{  
   width: 252px;
  margin-right: 40px;
}
.footer {display: flex;
  flex-wrap: wrap;
  width: 370px;
  justify-items: center;
  margin: 0px 0px 1px 10px;}
.footer1{font-weight: 900;
  margin-bottom: 10px;
  margin-top: 15px;}
.footer2{display: flex;
  flex-wrap: wrap;
  width: 240px}
.footer3{font-weight: 900;
  font-size: 15px;
  text-align: center;
  margin: 0px;
margin-bottom: 10px;
letter-spacing: 1px;}
.footer4{margin-left: 18px;}
.footer5{font-weight: 600;
font-size: 16px;
margin-bottom: 10px;
letter-spacing: 1px;}
.folow{
  width: 50px;
margin-right: 10px;
margin-left: 3px;
}
.twitterfolow{width: 50px;}
.google3{
  width: 190px;
    height: 80px;
    position: relative;
    top: -12px;
}
.google2{
  height: 72px;
  width: 166px
}

.trial-btn3{
  color: #fff;
  background: #46d163;
  border-radius: 100vh;
  border: 0;
  font-weight: 555;
  height: 50px;
  width: 210px;
  font-size: 16px;
  align-items: center;
}

.border1{
  width: 0px;
    height: 88px;
    margin-top: 0px;
    margin-right: 25px;
    border-bottom: 0px solid #e9e9e9;
    border-left: 0px solid #e9e9e9;
    border-right: 3px solid #e9e9e9;
    border-top: 0px solid #e9e9e9;
}
.border2{
  width: 0px;
  height: 88px;
  margin-top: 0px;
  margin-right: 15px;
  border-bottom: 0px solid #e9e9e9;
  border-left: 0px solid #e9e9e9;
  border-right: 3px solid #e9e9e9;
  border-top: 0px solid #e9e9e9;
}
.border3{
  width: 0px;
  height: 88px;
  margin-top: 0px;
  margin-left: 30px;
  border-bottom: 0px solid #e9e9e9;
  border-left: 0px solid #e9e9e9;
  border-right: 3px solid #e9e9e9;
  border-top: 0px solid #e9e9e9;
}
.footerbox1{
  width: 70%;
    margin: auto;
    margin-top: 29px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer6{color: black;
  text-decoration: none;
font-weight: 900;
margin-right: 25px
}
.footertag{
  width: 20px;
    position: relative;
    top: 4px;
    left: 5px;
}
.border10{
  width: 0px;
    height: 50px;
    margin-top: -10px;
    margin-right: 15px;
    border-bottom: 0px solid #e9e9e9;
    border-left: 0px solid #e9e9e9;
    border-right: 2px solid #afaeae;
    border-top: 0px solid #e9e9e9;
}
.end{
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.endtext{
color: white;
}
